h2{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

mat-icon {
    border-radius: 50%;
    background-color: #464545;
    padding: 15px;
    color: whitesmoke;
    font-weight: bolder;
}

mat-dialog-actions{
    justify-content: center;
    margin-bottom: 5px;
}